*{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
  &__header{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }

}

.top-items{
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
    &__name{
      color: #ffffff;
      height: 20px;
      width: 60px;
    }
    &__icons{
      height: 20px;
      width: 60px;
      color: #ffffff;
      display: flex;
      justify-content: flex-end;
    }

}

.icon{
  margin-left: 5px;
  color: #ffffff;
}

.group-box{
  width: 300px;
  height: 91px;
  color: #ffffff;
  padding: 20px 20px 40px 20px;
    &__name{
      font-size: 15px;
      color: white;
    }
    &__message{
      font-size: 11px;
      margin-top: 5px;
      color: white;
    }
}

a{
  text-decoration: none;
}

.main{
  width: calc(100vw - 300px) ;
  height: 100vh;
  background-color: #ffffff;
  &__header{
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    .group-info{
      width: calc(100vw - 380px);
      height: 100px;
      display: flex;
      justify-content: space-between;

      &__left{
        margin-top: 35px;
        &--name{
          font-size: 20px;
          color: #333333;
        }
        &--member{
          font-size: 12px;
          margin-top: 15px;
          color: #999999;
        }
      }
      &__right{
        &--btn{
          display: block;
          width: 72px;
          height: 40px;
          text-decoration: none;
          border: solid 1px #38aef0;
          margin-top: 28px;
          padding: 0 20px;
          font-size: 16px;
          color: #38aef0;
          line-height: 40px;
        }
      }
    }
  }
  &__chat{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding-top: 35px;
    .message-box{
      padding-bottom: 46px;
      margin-left: 40px;
      &__user{
        display: flex;
        margin-bottom: 12px;
        &--name{
          font-size: 16px;
          color: #333333;
        }
        &--time{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      &__text{
        font-size: 14px;
        color: #434A54;
      }
      }
    }
  }
  .form{
    width: 100%;
    display: flex;
  }

  &__form{
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    .form-box{
      display: flex;
      width: 100%;
      position: relative;
      &__message{
        display: block;
        height: 50px;
        padding-left: 10px;
        width: 100%;
        border: none;
      }
      &__icon{
        font-size: 25px;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
          input{
          display: none;
          }
      }
    }
  &--btn{
    display: block;
    padding: 0 30px;
    background-color: #38aef0;
    color: #fff;
    font-size: 16px;
    height: 50px;
    border: none;
    margin-left: 15px;
    }
  }
}